apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- github.com/GoogleCloudPlatform/anthos-service-mesh-samples/docs/ingress-gateway-asm-manifests/base?ref=asm-acm-tutorial
namespace: asm-ingress
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: asm-ingressgateway
        annotations:
          config.kubernetes.io/depends-on: mesh.cloud.google.com/namespaces/istio-system/ControlPlaneRevision/asm-managed